head, body, footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  head, body, footer {
    padding-left: 0;
  }
}

footer {
  background-color: #03a9f4;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.centerBlock {
  display: table;
  margin: auto; }

.marginHorizontal {
  margin-left: 8px;
  margin-right: 8px; }

.marginHorizontalCarrousel {
  margin-left: 8px;
  margin-right: 0px; }

.margenesBodyCard {
  margin-top: 0px;
  margin-bottom: 0px; }

.marginHorizontalCard {
  margin-left: -12px;
  margin-right: -12px; }

.sizeTextSmall {
  font-size: 11px; }

.sizeTitleApp {
  font-size: 14px; }

.titleNews {
  padding: -10;
  margin: -10px;
  color: #7e7d7d; }

.my-card {
  height: 350px;
  width: 350px; }


/* Cradas para finderpet - revisar las anteriores para ver si se estan usando */

.primaryColor {
  color: #00b0ff;
}

.cardFinder {
    margin-top: 10px;
    margin-bottom: 0px; 
}

.containerMain {
  margin: 10px;
}

.marginDiv {
  margin-top: 0px;
  margin-bottom: 10px; 
}

.marginTitleApp {
  margin-right: 0px;
  margin-left: 50px;
  font-size: 14px;
 }

.btx {
  width:100%;
}

.titleCardAdvert {
  font-size: x-large !important;
  font-weight: 500 !important;
}

/* ::: CSS para los text input ::: */
/* label focus color */
.input-field input:focus + label {
  color: #00b0ff !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #00b0ff !important;
  box-shadow: 0 1px 0 0 #00b0ff !important
}
/* icon prefix focus color */
.input-field .prefix.active {
color: #00b0ff;
}
/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #00b0ff !important;
 }
/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00b0ff !important;
  box-shadow: 0 1px 0 0 #00b0ff !important;
 }

/*///////////////////////// Estilos login.html /////////////////////////*/
 #login{
  background-image: url(/images/img_bg1.jpg);
}
.container-login{
  margin: 30px 0;
  padding: 10px;
  width: 350px;
  background-color: rgba(255,255,255,.75);
  border-radius: 8px;
  color: #333;
}
.container-login label{
  color: #333;
}
.container-login span{
  font-size: 60px;
}
.container-login .input-field{
  margin-top: 1px;
}
.container-login div .btn{
  margin-bottom: 10px;
  width: 90%;  
}
.font-cover .container .row img {
  margin: 30px 0;
}
#welcome {
  color: white;
  text-align: justify;
  margin-top: 10px;
}
/*///////////////////////// Estilos home.html /////////////////////////*/


/*///////////////////////// Estilos modals /////////////////////////*/
.container .btn-flat{
  margin-top: 10px;
  text-transform: none;
}
#modal_register h6, #modal_register .modal-close{
  font-weight: 600;
}

/*///////////////////////// Estilos maps.html /////////////////////////*/
div ul li .row img {
  margin-top: 6px;
}
div ul li .row h7 {
  padding: 4px 4px;
}

/*///////////////////////// Estilos maps.html /////////////////////////*/
#btnCloseSesion {
  width: 100% !important;
}
#btnDeleteAccount {
  width: 100% !important;
  text-align: center;
  margin: 0 0;
  color: crimson;
}
/*///////////////////////// Estilos servicesPets.html /////////////////////////*/
#contentRows {
  display: flex;
  flex-wrap: wrap;
}
#contentRows .card {
  height: 95%;
}

 