footer {
  background-color: #03a9f4;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.jumbotron {
  background-color: #03a9f4;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn_reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px;
  padding-left: 0px; }

.centerBlock {
  display: table;
  margin: auto; }

.marginHorizontal {
  margin-left: 8px;
  margin-right: 8px; }

.marginHorizontalCarrousel {
  margin-left: 8px;
  margin-right: 0px; }

.margenesBodyCard {
  margin-top: 0px;
  margin-bottom: 0px; }

.marginHorizontalCard {
  margin-left: -12px;
  margin-right: -12px; }

.sizeTextSmall {
  font-size: 11px; }

.sizeTitleApp {
  font-size: 14px; }

.titleNews {
  padding: -10;
  margin: -10px;
  color: #7e7d7d; }

.my-card {
  height: 350px;
  width: 350px; }

.cardFinder {
    margin-top: 10px;
    margin-bottom: 0px; 
}

.marginContainer {
  margin-left: 0px;
  margin-right: -40px;
}

.marginCardView {
  margin-left: 0px;
  margin-right: -40px;
}

.marginDiv {
  margin-top: 0px;
  margin-bottom: 10px; 
}

.marginTitleApp {
  margin-right: 0px;
  margin-left: 50px;
  font-size: 14px;
 }

.btx {
  width:100%;
}

.btn-flotante {
  font-size: 16px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  background-color: #00b0ff; /* Color de fondo */
  padding: 12px 20px; /* Relleno del boton */
  position: fixed;
  bottom: 10px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
  width:90%;
}
